h1{
    margin: 0rem 0rem 1rem 0rem;

}

.row1{
    margin: 1rem 5rem 0rem 17rem;
    padding:0rem 0rem 0rem 0rem;
}
.form-group1{

    margin: 0rem 0rem 1rem 0rem;
    padding:0rem 0rem 0rem 0rem;

}

@media (max-width:787px){
    .row1{
        margin: 1rem 1rem 0rem 1rem;
        padding:0rem 0rem 0rem 0rem;
    }
    .form-group1{
        width:21rem;
    }
}