@media (max-width:787px){
    .row1{
        margin: 1rem 1rem 0rem 1rem;
        padding:0rem 0rem 0rem 0rem;
    }
    .form-group1{
        width:25rem;
    }
}

.row1{
    margin: 1rem 1rem 0rem 1rem;
    padding:0rem 0rem 0rem 0rem;
}
.form-group1{
    width:30rem;
}